@import './../../assets/colors';

.filter-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 8px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    flex-direction: row;
    flex-grow: 1;
    padding: 8px 50px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid $grey;
  }

  li:hover {
    cursor: pointer;
  }
}

.vergleich-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.selected {
  background-color: $orange;
  color: $white;
}
